extends ../layout.jade
block content
  form(name="new-album" method="POST")
    div
      label(for="createAlbum") Create Album
    p
      label(for="album" id="album") Album
      input(type="text" name="album")
    p
      label(for="artist" id="artist") Artist
      input(type="text" name="artist")
    p
      label(for="genre" id="genre") Genre
      select(name='genre')
        option(value='Jazz') Jazz
        option(value='Rock') Rock
        option(value='Folk') Folk
    p
      label(for="stars") Stars
      p
      label(for="1") 1
      input(type="radio", name='stars', value='1')
      input(type="radio", name='stars', value='2')
      input(type="radio", name='stars', value='3')
      input(type="radio", name='stars', value='4')
      input(type="radio", name='stars', value='5')
      label(for="5") 5
    p
      input(type="checkbox", name="lyrics", value="on", default="on" checked="on")
      | Contains Explicit Lyrics
    p
      input(type="submit" value="Create album")
      a(href="/albums" id="cancel") Cancel
